@media(max-width: 1120px) {
    .main {
        width: 375px;
        height: 100vh;
        flex-direction: column;
        gap: 70px;
        background: url(../images/bg-intro-mobile.png) var(--Red);
        padding: 24px;
    }
    .section-inform {
        text-align: center;
        gap: 21px;
    }
    .section-inform h1 {
        font-size: 28px;
        letter-spacing: .0px;
        line-height: 37px;
    }
    .section-form {
        width: 100%;
    }
    .div-section-form {
        text-align: center;
        margin-bottom: 23px;
        padding: 21px 50px;
    }
    .form {
        gap: 15px;
        padding: 25px 23px 0px 23px;
    }
    .form input {
        padding-left: 20px;
    }
}