body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main {
    width: 1440px;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-family: var(--fonte-poppins);
    background: url(../images/bg-intro-desktop.png) var(--Red);
}

.section-inform {
    display: flex;
    flex-direction: column;
    color: #FFF;
    gap: 30px;
}

.section-inform h1 {
    max-width: 450px;
    font-size: 48px;
    font-weight: 700;
    letter-spacing: .48px;
    line-height: 54px;
}

.section-inform p {
    max-width: 550px;
}

.section-form {
    width: 540px;
    display: flex;
    flex-direction: column;
}

.div-section-form {
    display: flex;
    justify-content: center;
    font-size: 10px;
    color: #FFF;
    font-weight: 400;
    background-color: var(--Blue);
    border-radius: 10px;
    margin-bottom: 21px;
    padding: 20px;
    box-shadow: 0 7px 2px var(--Dark-Blue-a);
}

.div-section-form span {
    font-weight: 400;
}

.form {
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    gap: 20px;
    border-radius: 10px;
    padding: 40px 40px 43px 40px;
    box-shadow: 0 7px 2px var(--Dark-Blue-a);
}

.form input, .form button {
    height: 56px;
    border-radius: 5px;
}

.form input {
    font-family: var(--fonte-poppins);
    font-size: 14px;
    font-weight: 700;
    color: var(--Dark-Blue);
    border: 1px solid var(--Grayish-Blue);
    padding-left: 31px;
    outline: none;
}

.form input.error {
    border: 2px solid var(--Red);
    background: url(../images/icon-error.svg) no-repeat right 6% bottom 50%;
}

.form .error::placeholder {
    color: var(--Red);
}

.form .div-msg-error {
    display: flex;
    justify-content: end;
    margin: -15px 0 0px 0;
}

.form .div-msg-error .p-msg-error {
    font-size: 11px;
    font-style: italic;
    font-weight: 600;
    color: var(--Red);
}

.form button {
    font-size: 15px;
    font-weight: 700;
    color: #FFF;
    text-transform: uppercase;
    letter-spacing: .2px;
    background-color: var(--Green);
    cursor: url(../images/pointer.svg), auto;
}

.form button:hover {
    opacity: .7;
}

.section-form .p-msg-terms {
    text-align: center;
    color: var(--Grayish-Blue);
    font-size: 10px;
    letter-spacing: .5px;
    margin-top: -5px;
}

.section-form .p-msg-terms strong {
    color: var(--Red);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}